include README.md
include LICENSE
include SKILL.md
include SKILL_COPILOT.md
include deeprefine_skill/SKILL_COPILOT.md

include gemini-extension.json
include GEMINI.md
recursive-include commands *.toml
recursive-include skills *.md
recursive-include docs *.md
recursive-include deeprefine_skill/gemini_extension *
